section{
    position: relative;
    display: inline;
    text-align: center; 
}

div{
    position: absolute;
    flex-direction: column;
    border: 3px ridge aquamarine;
    border-radius: 10px;
    width: 220px;
    height: 500px;
}

div img{
    position: flex;
    width: 180px;
    margin-top: 0;
}