section{
    position: relative;
    display: inline;
    text-align: center; 
    border: none;
}

div{
    position: absolute;
    flex-direction: column;
    width: 220px;
    height: 500px;
    margin-left: 15px;
}

div img{
    position: flex;
    width: 180px;
    margin-top: 0;
}